include LICENSE README.md pyproject.toml
recursive-include selene_sdk/interpret/data/gencode_v28_hg38 *.bed*
recursive-include selene_sdk/interpret/data/gencode_v28_hg19 *.bed*
recursive-include selene_sdk/sequences/data *.bed*
